name: End-to-end tests
on: 
  workflow_dispatch:
  # schedule:
  # cron: ''
jobs:
  Regression_Tests:
    name: Run Regression Tests
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      # Install npm dependencies, cache them correctly
      # and run all Cypress tests
      - name: Install Node
        uses: actions/setup-node@v4
        with:
              node-version: 22

      - name: Install Dependencies
        run : npm install --force
      
      - name: Run Regression Tests
        run: npm run cy:regression
      
        
